<!-- Asset-info Form -->

<form class="expense-info" ng-submit="update()" ng-controller="BorrowerAssetUpdateCtrl">

    <input type="text" ng-model="newBorrower.asset_info.bank1" placeholder="Name of Bank" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.bank2" placeholder="Name of Bank" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.bank3" placeholder="Name of Bank" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.cash_or_market_value1" placeholder="Cash in Bank" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.cash_or_market_value2" placeholder="Cash in Bank" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.cash_or_market_value3" placeholder="Cash in Bank" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.stocks_or_bonds" placeholder="Value of Stocks or Bonds" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.cash_value_of_life_insurance" placeholder="Cash Value of Life Insurance" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.real_estate_owned" placeholder="Real Estate Owned" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.vested_retirement_interest" placeholder="Vested Retirement Interest" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.net_worth_of_business" placeholder="Net Worth of Business" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.automobile_make" placeholder="Auto Make and Model" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.automobile_value" placeholder="Value of Auto" /><br><br>
    <input type="text" ng-model="newBorrower.asset_info.other_assets" placeholder="Value of Other Assets" /><br><br>

    <input type="submit" id="submit" value="Submit" />

</form>