<!-- Borrower-info Form -->
<div class="container profile-background">
    <section>
        <h2 class="text-center">Welcome to Qualifi! This is the start of the application process. Lets start with some basic information about you.</h2>
    </section>

    <form class="borrower-info text-center" ng-submit="update()" ng-controller="BorrowerInfoUpdateCtrl">
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.first_name" placeholder="First Name" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.last_name" placeholder=" Last Name" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.phone_number" placeholder="Phone Number" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.date_of_birth" placeholder="Date of Birth" /><br><br>
        </div>
        <div class="input">    
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.years_in_school" placeholder="Yrs in school" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.present_address" placeholder="Current Address" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.mailing_address" placeholder="Mailing Address" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.length_of_residency" placeholder="Length of Residency" /><br><br>
        </div>
        <div class="input">
            <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.borrower_info.former_address" placeholder="Former Address" /><br><br><br>
        </div>

        <div class="col-sm-12">
            <input type="submit" id="submit" value="Submit Borrower Info" /><br><br>
            <p class="text-center">1/6</p><br><br>
        </div>
    </form>
</div>