<!-- Hero Content  -->
	<section class="hero">
		<div class= "col-md-12" id="hero-headline-block">
			<p id="hero-headline">Get Qualifi'd Today!</p>
		</div>
	</section>

<div class="login-row1 row col-lg-6">
	<div class="text-center log-in" >
		<h3 class="log-in-text container">The mortgage application process can be one of the most stressful parts about buying a new home. Often times you will find yourself going to multiple lenders where you will be required to hand out your personal information before even deciding which lender is right for you. The goal of Qualifi is educate consumers as they walk through the mortgage application process. We aim to give consumers a way to see if they will qualify for a mortgage while only giving out the information they are comfortable with.  </h3>
	</div>	
</div>
<div class="login-row1 row col-lg-6 col-lg-offset-6">
	<div class="text-center log-in1" >
		<h3 class="log-in-text">Log In!</h3>
		<form class="login" ng-submit="login()" ng-controller="LogInCtrl">
		    <input type="text" ng-model="newBorrower.username" placeholder="Username" /><br><br>
		    <input type="password" ng-model="newBorrower.password" placeholder="Password" /><br><br>
		    <input type="submit" id="submit" value="Log In!" />
		</form>
	</div>	
</div>
