<!-- Liability-info Form -->

<form class="liability-info" ng-submit="update()" ng-controller="BorrowerLiabilityUpdateCtrl">

    <input type="text" ng-model="newBorrower.liability_info.name_of_debtor1" placeholder="Name of Debtor" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.name_of_debtor2" placeholder="Name of Debtor" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.name_of_debtor3" placeholder="Name of Debtor" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.name_of_debtor4" placeholder="Name of Debtor" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.name_of_debtor5" placeholder="Name of Debtor" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.monthly_payment1" placeholder="Monthly Debt Payment" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.monthly_payment2" placeholder="Monthly Debt Payment" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.monthly_payment3" placeholder="Monthly Debt Payment" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.monthly_payment4" placeholder="Monthly Debt Payment" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.monthly_payment5" placeholder="Monthly Debt Payment" /><br><br>
    <input type="text" ng-model="newBorrower.liability_info.alimony_child_support" placeholder="Alimony/Child-Support" /><br><br>

    <input type="submit" id="submit" value="Submit" />

</form>