<!-- New-Mortgage-info Form -->
<div class="container profile-background">
	<section>
        <h3 class="text-center">Now it's time to enter in your new mortgage information.</h3> 

        <h4 class="text-center">It's important to note that all of this informatin is needed on a monthly basis. i.e. monthly base income, monthly overtime income, etc. </h4>
    </section>

	<form class="new-mortgage-info text-center" ng-submit="update()" ng-controller="BorrowerNewMortgageUpdateCtrl">
		<div class="input">
		    <label class="text-center col-sm-6 col-sm-offset-3"> Credit Score: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.credit_score" placeholder="Credit Score" /><br><br>
		</div>
			<!-- <div class=" input text-center col-sm-6 col-sm-offset-3 ">Look at you working overtime! While the extra income makes a difference to YOU on a monthly basis, it may or may not matter when it comes to qualifying for a loan. A general rule of thumb here is that you need have worked and recieved a consistent amount of overtime income for the last two years. Are you noticing a trend here? Two years generally shows stability to a lender. Dont be discouraged if you dont have full two year history though. Your lender could very well make an exception to count this towards your total income. </div> -->
		<div class="input">
		    <label class="text-center col-sm-6 col-sm-offset-3"> Purchase Price of New Home </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.home_price" placeholder="Purchase Price of New Home" ng-change="calcMortgageAmount()"/><br><br>
		</div>
			<div class=" input text-center col-sm-6 col-sm-offset-3 ">This next section will calculate for you. Currently, it is calculating you new mortgage amount to be 80% of the purchase price of the home. If you want to add something differnt, just replace the current loan amount with your desired loan amount.</div>
		<div class="input">    
		    <label class="text-center col-sm-6 col-sm-offset-3"> Loan Amount: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.loan_amount" placeholder="New Loan Amount" /><br><br>
		</div>
		<div class="input">    
		    <label class="text-center col-sm-6 col-sm-offset-3"> Interest Rate: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.interest_rate" placeholder="Interest Rate" ng-change="calcMortgageAmount()"/><br><br>
		</div>
		<div class="input">    
		    <label class="text-center col-sm-6 col-sm-offset-3"> Term of Loan: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.term" placeholder="Loan Term" ng-change="calcMortgageAmount()"/><br><br>
		</div>
			<!-- <div class=" input text-center col-sm-6 col-sm-offset-3 "> This next section will calculate your monthly principle and interest automaticall as well. </div> -->
		<div class="input">    
		    <label class="text-center col-sm-6 col-sm-offset-3"> Monthly Principle and Interest Payment: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.monthly_pi" placeholder="Monthhly Principle and Interest Payment" ng-change="calcMortgageAmount()"/><br><br>
		</div>
			<div class=" input text-center col-sm-6 col-sm-offset-3 "> This next section is automatically estimating your monthly taxes and insurance payments based on the home price. If you know what your monthly tax and insurance payments will be for the new home you want to purchase, go ahead an overwrite the field below with that information. </div>
		<div class="input">
		    <label class="text-center col-sm-6 col-sm-offset-3"> Monthly Tax and Insurance Payment: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.monthly_ti" placeholder="Monthly Tax and Insurance Payment"/><br><br>
		</div>
			<!-- <div class=" input text-center col-sm-6 col-sm-offset-3 ">Key word here is NET. Make sure this is the income you are generating from your rental property after you pay other expenses like your mortgage, repairs, etc. </div> -->
		<div class="input">    
		    <label class="text-center col-sm-6 col-sm-offset-3"> Monthly HOA Dues: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.monthly_hoa" placeholder="Monthly HOA Dues" ng-change="calcMortgageAmount()"/><br><br>
		</div>
		<div class="input">    
		    <label class="text-center col-sm-6 col-sm-offset-3"> Total Monthly Mortgage Payment: </label>
		    <input class="input text-center col-sm-6 col-sm-offset-3" type="text" ng-model="newBorrower.new_mortgage_info.total_monhthly_payment" placeholder="Total Monthly Mortgage Payment" ng-change="calcMortgageAmount()" /><br><br>
		</div>
		    
	    <div class="col-sm-12">
		    <input class="page-number" type="submit" id="submit" value="Submit New Mortgage Info" /><br><br>
	        <p class="text-center page-number">7/7</p>
	    </div>

	</form>
</div>