
/* Navbar Section */
.navbar {
    margin-bottom: 0px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-button {
    color: black;
}

.navbar .navbar-header {
   font-family: Optima;
}

.navbar .navbar-header h5 {
  font-family: Optima;
  font-size: 30px;
}

#myNavbar {
  font-family: Optima;
  font-size: 16px;
  padding: 10px 10px;
}

.navbar-header .navbar-brand {
  height: 40px;
}

.navbar-header .navbar-toggle {
    position: relative;
    float: right;
    padding: 14px 10px;
    margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: transparent;
/*    background-image: none;*/
    border: 1px solid black;
    border-radius: 4px;
}

.navbar-header .navbar-toggle .icon-bar{
    color: black;
      border: 1px solid black;  
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 30px;
}

/* Hero Section */
.hero {
  background-image: url('/styles/city.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  height: 80vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  
}

#hero-headline {
  text-align: center;
  margin-top: 50vh;
  color: white;
  font-size: 60px;
}

/* LOGIN SECTION*/
.login-row {
    padding: 0;
    margin: 0;
}
.login-row1 {
    padding: 0;
    margin: 0;
}

.log-in-text {
    margin-top: 0px;
    margin-bottom: 25px;
}

.log-in {
  padding: 30px 0px 30px 0px;
  margin: 0px 0px 0px 10px;
  background: linear-gradient(135deg, rgba(30,154,67,1) 0%,rgba(126,232,147,0) 100%);
  column-width: 100%;
  margin: 0;
}
.log-in1 {
  padding: 30px 0px 71px 0px;
  margin: 0px 0px 0px 10px;
  background: linear-gradient(135deg, rgba(30,154,67,1) 0%,rgba(126,232,147,0) 100%);
  column-width: 100%;
  margin: 0;
}

/* Profile Page */

.profile-background {
  background: linear-gradient(135deg, rgba(30,154,67,1) 0%,rgba(126,232,147,0) 100%);
}

.profile-img {
    background-image: url('https://avatars1.githubusercontent.com/u/19255188?v=3&s=460');
    width: 200px;
    height: 200px;
    border: 6px solid white;
    border-radius: 100px;
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 5px #2c2c2c;
    margin: 2% auto auto auto;
}

.profile-info {
  text-align: center;
}

/* Footer Section */
.footer {

  background: white;
  text-align: center;
  padding: 60px;


}

.footer-headline {
  color: black;
  font-size: 30px;
}

.footer-link-list {
  color: black;
}

.footer-link {
  display: inline;
  font-size: 18px;
  color: black;
}

/* Borrower Info Page */
.borrower-info {
  margin: 2% auto auto auto;
}

.input {
  margin-bottom: 2%;
  padding: 1% 0% 1% 0%;
}

.dti {
  border: 3pt solid black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
  margin: 18px 0px 0px 0px;
  background: #bdc3c7;
}
.no_qual_main_page {
  background-color: #d6f5e0;
}

.screen-shot {
    width: 500px;
    height: 500px;
}

/*Card Flip Animation*/

.flip {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 400px;
   height: 300px;
   position: relative;
   margin: 50px auto;
}
.flip .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */

}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: white;
  color: black;
  cursor: pointer;
}
.flip .card .back {
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */

}
